{% include 'navbar.html' %}

        {% if recipe_list %}
        {% for recipe in recipe_list %}
        
            <div class="col-md-4" style="float: left;">  
                <div class="card">
                    
                    <img src="../static/images/food.jpeg" alt="cake">
                    <div class="card-body">
                        <div class="card-text">
                            <p class="card-title"> {{ recipe.Title }}</p>
                            <p id="try"> <!--{{ recipe.Description }}--> </p> 
                            <p id="try1"> <!--{{ recipe.Instructions }}--></p>
                        </div>
                        <footer class="blockquote-footer"> {{ recipe.pub_date }}</footer>
                        <div class="buttons">
                            {% if user.is_authenticated %}
                            <form action="{% url 'recipe_delete' recipe.id %}" method="post">
                                {% csrf_token %}
                                <button type="submit"  style="background-color: red;color: white;font-size: 15px;">Delete</button>
                            </form> 
                            <button class="btn btn-outline-success" style="float: right;"> <a href="{% url 'update' %}"> Update</a></button>
                            {% else %}
                            {% endif %}
                        </div>    
                    </div>
                </div>
           </div>  <br>  
             
    
        {% endfor%}
        {% else %}
        <marquee behavior="" direction="left"> No recipes available at the moment! </marquee>
        {% endif %}
    
<script>
    var headers = {}
        fetch('http://localhost:3000',{
            method : "GET",
            mode: 'cors',
            // headers: headers
        })
            .then(data => { 
                return data.json(); 
            }) 
            .then(recipeCollection => { 
                console.log(recipeCollection); 
                document.getElementById("try").innerHTML = recipeCollection.results[0].title ;
                document.getElementById("try1").innerHTML = recipeCollection.results[0].Instructions;
            });
</script>